html{
   background: #b3b3b3;
}
body{
    background: white;
    display: block;
    /* left: 25%; */
    width: 100%;
    margin: 0;

}

/*header*/
.header{
    display: block;
    position: relative;
    margin-bottom: 30px;
    width: 100%;
    height: 790px;
}
#main_image{
    position: absolute;
    width: 100%;
    z-index:1;
}
#openness{
    width:100%;
    height: 120;
}
#openness-squ {
    position: fixed;
    width: 100%;
    height: 120px;
    background: black;
    opacity: 0.5;
    z-index:2;
}
#logo{
    position: fixed;
    margin-left: 160px;
    z-index:4;
}
#logo img{
    margin-top:5%;
    width: 200;
    height: 100;
}
#logo img:hover{
    background: #aaa;
}
#link{
    width: 100%;
    position: fixed;
    z-index:3;
}
#link a{
    display: inline-block;
    font-size: 25px;
    margin: 2% 20px;
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
#link a:hover{
    color: #fc3a63; /* 當滑鼠經過時，超連結文字顏色變成桃紅色 */
    position: relative; /* 當滑鼠經過超連結時，超連結往右下位移1像素 */
    top: 1px;
    left: 1px;
}
#news{
    padding-left: 55%;
}

/*tool-link*/
#information{
    display: inline-block;
    float: left;
    padding-left: 20%;
}
#information img{
    width: 350;
    height: 80;
}
#download{
    display: inline-block;
    float: left;
}
#download img{
    width: 350;
    height: 80;
}
#search{
    display: inline-block;
    float: left;
}
#search img{
    width: 350;
    height: 80;
}
#discuss{
    display: inline-block;
}
#discuss img{
    width: 350;
    height: 80;
}


/*active*/
#active-sys{
    display: inline-block;
    font-size: 20;
    padding-left: 24%;
}
#active-sys-main{
    display: inline-block;
    padding-top: 1%;
    margin:0;
    padding-left: 28%; 
    font-weight: bolder;
    color: #6fa8dc;
    font-size:20;
}
#active-sys {
    border-collapse: separate;
    -webkit-border-vertical-spacing: 30px; 
    -webkit-border-horizontal-spacing: 30px;
}
#active-sys td a{
    text-decoration: none;
    color:black
}
#active-sys td a:hover{
    color: blue; /* 當滑鼠經過時，超連結文字顏色變成桃紅色 */
    position: relative; /* 當滑鼠經過超連結時，超連結往右下位移1像素 */
    top: 1px;
    left: 1px;
}
.active-sys-squ{
    border:1px black solid;
    border-radius: 5px;
    background:#6fa8dc;  
    color: white;
    text-align:center;
}


#active-dis{
    display: inline-block;
    font-size:20;
    padding-left: 2%;
}
#active-dis-main{
    display: inline-block;
    margin: 0;
    padding-top: 10px;
    padding-left: 22%;
    padding-right: 30%;
    font-weight: bolder;
    font-size:20;
    color: #c27ba0;
}
#active-dis {
    border-collapse: separate;
    -webkit-border-vertical-spacing: 30px; 
    -webkit-border-horizontal-spacing: 30px;
}
#active-dis td a{
    text-decoration: none;
    color:black;
}
#active-dis td a:hover{
    color: blue; /* 當滑鼠經過時，超連結文字顏色變成桃紅色 */
    position: relative; /* 當滑鼠經過超連結時，超連結往右下位移1像素 */
    top: 1px;
    left: 1px;
}
.active-dis-squ{
    border:1px black solid;
    border-radius: 5px;
    background:#c27ba0;
    color:white;
    text-align:center;
}

#sys-hr{
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left:25%;
    /* margin: 0 5%; */
}
#dis-hr{
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left:5%;
    /* margin: 0 5%; */
}

/*Button*/
#phone{
    display: inline-block;
    position: relative;
    margin-top:20px;
    margin-left: 25%;
    margin-right: 30px;
    width: 150;
    height: 146;
    border:1px #9fc5f8 solid;
    border-radius: 50%;
   
}
#phone img{
    position: absolute;
    text-align: center;
    top:22%;
    left:30%;
}
#question{
    display: inline-block;
    position: relative;
    margin-top:20px;
    margin-left: 30px;
    margin-right: 30px;
    width: 150;
    height: 146;
    border:1px #9fc5f8 solid;
    border-radius: 50%;
    text-align: center;
}
#question img{
    position: absolute;
    top:28%;
    left:25%;
}
#cellphone{
    display: inline-block;
    position: relative;
    margin-top:20px;
    margin-left: 30px;
    margin-right: 30px;
    width: 150;
    height: 146;
    border:1px #9fc5f8 solid;
    border-radius: 50%;
    text-align: center;
}
#cellphone img{
    position: absolute;
    top:28%;
    left:30%;
}
#facebook{
    display: inline-block;
    position: relative;
    margin-top:20px;
    margin-left: 30px;
    margin-right: 30px;
    width: 150;
    height: 146;
    border:1px #9fc5f8 solid;
    border-radius: 50%;
    text-align: center;
}
#facebook img{
    position: absolute;
    top:25%;
    left:30%;
}
#email{
    display: inline-block;
    position: relative;
    margin-top:20px;
    margin-left: 30px;
    margin-right: 30px;
    width: 150;
    height: 146;
    border:1px #9fc5f8 solid;
    border-radius: 50%;
    text-align: center;
}
#email img{
    position: absolute;
    top:33%;
    left:30%;
}
#stop{
    display: inline-block;
    position: relative;
    margin-top:20px;
    margin-left: 30px;
    margin-right: 30px;
    width: 150;
    height: 146;
    border:1px #9fc5f8 solid;
    border-radius: 50%;
    text-align: center;
}
#stop img{
    position: absolute;
    top:28%;
    left:30%;
}
.button-word p{
    display: inline-block;
    font-weight: bold;
    color: #6fa8dc;
    margin-left: 4%;
    margin-right: 3%;
    margin-bottom: 30px;    
}
#service{
    margin-left: 27%;
    margin-right: 3%;
    text-decoration: none;
}

/*second_image*/
#sec_image{
    margin-bottom:10px;
}
#sec_image img{
    width: 100%;
}
/*Bottom*/
.bottom{
    position: relative;
    width: 100%;
    height: 10%;
}
#gamania_image{
    display: inline-block;
    position: absolute;
    left: 15%;
    width: 200;
    height: 100;
}
#declare{
    display: inline-block;
    position: absolute;
    left: 25%;
    top: 25%;
    margin:0;
    font-size: 16;
}
#counseling{
    display: inline-block;
    position: absolute;
    left: 55%;
    width: 120;
    height: 100;
}
#warn{
    display: inline-block;
    position: absolute;
    top: 7px;
    top:20%;
    left: 60%;
    margin:0;
    font-size: 16;
}
#marn li{
    padding: 10%;
}
#mark{
    display: inline-block;
    position: absolute;
    left: 86%;
    width: 150;
    height: 100;
}
/*footer*/
footer{
    width:100%;
    background: #999999;
}
#footer-time{
    float: left;
    padding-left: 15%;
    padding-right: 58%;
}
footer p{
    display: inline-block;
    font-size: 12;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}